.container{
  margin-top: 85px;
  padding: 20px 0 30px;
  background-color: black;
}
.topic{
  text-align: center;
  color: white;
  font-weight: 700;
  word-spacing: 1px;
  font-size: 30px;
  /* background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(8,8,10,1) 54%, rgba(48,46,46,1) 100%, rgba(2,0,36,1) 100%, rgba(49,90,98,1) 100%); */
  background: black;
}
.hr{
  width: 15vw;
}
.title{
  color: black;
  padding: 10px 12vw;
  background-color: var(--yellow);
  font-size: 30px;
}

.bvcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vw;
  padding: 50px 10vw;
}
.link{
  text-decoration: none;
}
.bvcard{
height: 290px;
width: 20vw;
border: 1px solid white;
border-radius: 10px;
}
.bvcard:hover{
cursor: pointer;
}

.bvimgcont{
  width: 90%;
  height: 150px;
  background-color: #3e454d;
  margin: 10px auto;
}
.bvimgcont img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.bvcardinfo{
  padding: 0 10%;
  color: white;
}
.bvcardinfo h2{
  font-size: 24px;
}
.bvcardinfo h4{
  font-size: 16px;
}
.bvcardinfo h2, .bvcardinfo h4{
 margin: 0;
 font-weight: 400;
}
.bvsection{
  position: relative;
}
.box-container{
  top: 0;
  position: fixed;
}

.bvsection{
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 1200px){
  .container{
    margin-top: 60px;
    padding-top: 20px;
  }
  .bvcontainer{
    grid-template-columns: 1fr 1fr;
  }
  .bvcard{
    width: 100%;
  }
  .bvcontainer{
    padding: 50px 5vw;
  }
}
@media screen and (max-width: 768px){
  .bvcontainer{
    grid-template-columns: 1fr;
  }

  .box-container{
    height: 125vh;
  }

  .box{
    width: 60vw;
  }

  .show{
    display: none;
  }
  .hide{
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    right: 20px;
    display: block;
  }
}