.container{
  padding:20px 1.2vw;
  text-align: center;
}
.adimg{
  width: 80vw;
  height: 150px;
}
.adimg1{
  width: 70vw;
  height: 100px;
}
@media screen and (max-width: 1200px){
  .adimg{
    width: 90%;
    height: auto;
  }
  .adimg1{
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 768px){
  .adimg{
    width: 95%;
    height: 80px;
  }
  .adimg1{
    width: 85%;
    height: 70px;
  }
}