.container{
  margin-top: 170px;
  padding-top: 30px;
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(8,8,10,1) 54%, rgba(48,46,46,1) 100%, rgba(2,0,36,1) 100%, rgba(49,90,98,1) 100%);
}
.title{
  text-align: center;
  color: white;
  font-weight: 700;
  word-spacing: 1px;
  font-size: 30px;
}
.hr{
  width: 7vw;
}
.link{
  text-decoration: none;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 80px 5vw;
}
.card{
  text-align: center;
  width: 20vw;
  height: 380px;
  margin-bottom: 30px;
}
.img{
  width: 15vw;
  height: 300px;
}
.name{
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px){
  .container{
    margin-top: 150px;
  }
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card{
    width: 30vw;
    height: 380px;
  }
  .img{
    width: 25vw;
    height: 300px;
  }
}
@media screen and (max-width: 768px){
  .container{
    margin-top: 130px;
    padding-top: 40px;
  }
  .cards{
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .card{
    width: 100%;
    height: auto;
  }
  .img{
    width: 100%;
    height: auto;
  }
  .name{
    font-size: 24px;
  }
}
