.heroimage{
  margin: 0;
  width: 100%;
  height: 800px;
}
.container{
  margin-top: 190px;
  position: relative;
}
.box{
  padding: 25px 0;
  background-color: var(--yellow);
  width: 48%;
  height: 185px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 26%;
  border-radius: 10px;
}
.box h2{
  font-size: 2rem;
  color: rgba(0,0,0,0.87);
}
.box h2, .box h5, .box h4{
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.box h5 , .box h4{
  font-size: 18px;
}

.box button{
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 12px 4vw;
  font-size: 20px;
  border-radius:5px;
  border:1px solid black;
  transition: 0.5s;
}

.box button:hover{
  border: 1px solid white;
  cursor: pointer;
}
.box2{
  display: none;
  margin-top: 50px;
  padding: 25px 0;
  background-color: var(--yellow);
  height: 200px;
  text-align: center;
}
.box2 h2{
  font-size: 2rem;
  color: rgba(0,0,0,0.87);
}
.box2 h2, .box2 h5, .box2 h4{
  margin-top: 5px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.box2 h5 , .box2 h4{
  font-size: 18px;
  font-weight: 300;
}

.box2 button{
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 12px 4vw;
  font-size: 20px;
  border-radius:5px;
  border:1px solid black;
  transition: 0.5s;
}

.box2 button:hover{
  border: 1px solid white;
  cursor: pointer;
}
@media screen and (max-width: 1200px){
  .container{
    margin-top: 130px;
  }
  .heroimage{
    height: auto;
  }
  .box{
    padding: 0;
    background-color: var(--yellow);
    width: 48%;
    height: 130px;
    text-align: center;
    position: absolute;
    top: 34.5%;
    left: 25.5%;
  }
  .box h2{
    font-size: 20px;
  }
  .box h5 , .box h4{
    font-size: 14px;
  }
  .box button{
    margin-top: 0;
    padding: 8px 3vw;
    font-size: 18px;
  }
  .box2{
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px){
  .container{
    margin-top: 140px;
  }
  .heroimage{
    height: 250px;
  }
  .box2{
    display: block;
  }
  .box{
    padding: 5px 0;
    height: 65px;
    width: 49%;
  }
  .box h5 , .box h4{
    display: none;
  }
  .box h2{
    font-size: 14px;
    margin: 5px;
    margin-top: 0;
  }
  .box button{
    padding: 4px 3vw;
    font-size: 12px;
    margin-top: 0px;
  }
}