.container{
  padding: 0 0 35px;
}
.title{
  text-align: center;
  color: black;
  font-size: 30px;
  background-color: var(--yellow);
  padding: 20px 0;
}
.container hr{
width: 7vw;
}
.first{
  margin-top: 80px;
  display: flex;
  padding: 0 7.5vw;
  gap: 8vw;
}
.sec{
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 7.5vw;
  gap: 8vw;
}
.img{
  width: 35vw;
  height: auto;
}
.info{
  text-align: center;
  width: 40vw;
}
.info h1{
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.info p{
  font-size: 18px;
  color: #FFFFFF;
}
.info button{
  background: none;
  border: 1px solid #A5AC8C ;
  color: white;
  font-size: 18px;
  padding: 10px 3vw;
  transition: 0.5s;
  border-radius: 5px;
}
.info button:hover{
  border: 1px solid white;
  cursor:pointer;
}
@media screen and (max-width: 1200px){
  .first{
    flex-direction: column;
  }
  .sec{
    flex-direction: column;
  }
  .img{
    width: 100%;
  }
  .info{
    width: 100%;
  }
}