.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  height: 140px;
  transition: 0.3s;
}
.none{
  position: fixed;
  top: -500px;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  height: 140px;
  transition: 0.3s;
}
.container{
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.logo{
    color: #FFFFFF;
    font-weight: 700;
    word-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu{
  display: none;
}
.logoimg{
  width: auto;
  height: 55px;
}
@media screen and (max-width: 1200px){
  .fixed{
    height: 120px;
  }
  .menu{
    display: block;
  }
  .menu button{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
  }
}
@media screen and (max-width: 768px){
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  height: 140px;
}
.text{
  display: none;
}
.logoimg{
  padding-top: 10px;
  height: 50px;
}
}