.container{
  z-index: 1000;
  background-color: var(--yellow);
  color: #3D5B59;
  font-weight: 400;
  text-align: center;
  padding: 12px 0;
}
.break{
  display: none;
}
@media screen and (max-width: 768px){
  .container{
  height: 45px;
  padding: 5px 15%;
  font-size: 14px;
  }
  .break{
    display: block;
  }
  .and{
    display: none;
  }
}
