.container{
  z-index: 1000;
  background-color: var(--yellow);
  color: #3D5B59;
  font-weight: 400;
  text-align: center;
  padding-top: 0.25rem!important;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px){
  .container{
  height: 45px;
  }
}
