.container{
  margin-top: 85px;
}
.title{
  padding: 20px 0;
  text-align: center;
  color: black;
  font-weight: 700;
  word-spacing: 1px;
  font-size: 30px;
  /* background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(8,8,10,1) 54%, rgba(48,46,46,1) 100%, rgba(2,0,36,1) 100%, rgba(49,90,98,1) 100%); */
  background: var(--yellow);
}
.hr{
  width: 10vw;
}
.subcontainer{
  margin: 30px 5vw;
  border-radius: 20px;
  background-color: rgb(28, 28, 28);
  color: white;
}
.subcontainer2{
  margin: 30px 8vw;
  border-radius: 20px;
  color: white;
}
.topic{
  font-size: 32px;
  color: black;
  background-color: var(--yellow);
  padding: 10px 5vw;
}
.infos{
  display: flex;
  padding: 30px 5vw 60px;
  justify-content: space-between;
}
.info{
  border: 1px solid white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  padding-right: 5vw;
  width: 17vw;
}
.infotitle{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
.mapcontainer{
  width: 35vw;
}
.maptitle{
  font-size: 28px;
  margin-bottom: 30px;
  background-color: var(--yellow);
  color: black;
  padding: 10px 1vw;
}
.frame{
  width: 35vw;
  border-radius: 20px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form input{
  display: block;
  height: 30px;
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
}
.form textarea{
  height: 200px;
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
}
.button{
  color: #A5AC8C;
  background-color: black;
  padding: 10px 20px;
  border: 1px solid black;
  transition: 0.5s;
  width: 10vw;
  border-radius: 10px;
}
.button:hover{
  border: 1px solid #A5AC8C;
  color: white;
}
@media screen and (max-width: 1200px){
  .container{
    margin-top: 60px;
  }
  .infos{
    flex-direction: column;
  }
  .info{
    width: 90%;
  }
  .flex{
    flex-direction: column;
    gap: 50px;
  }
  .mapcontainer{
    width: 100%;
  }
  .frame{
    width: 100%;
  }
  .button{
    width: 15vw;
  }
}
@media screen and (max-width: 768px){
  .container{
    margin-top: 60px;
  }
  .frame{
    height: 300px;
  }
  .button{
    width: 100%;
  }
}