.container{
  margin-top: 85px;
}
.topic{
  padding: 20px 0;
  text-align: center;
  color: white;
  font-weight: 700;
  word-spacing: 1px;
  font-size: 30px;
  /* background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(8,8,10,1) 54%, rgba(48,46,46,1) 100%, rgba(2,0,36,1) 100%, rgba(49,90,98,1) 100%); */
  background: black;
}
.container hr{
width: 7vw;
}
.first{
  margin-top: 80px;
  display: flex;
  padding: 0 7.5vw;
  gap: 8vw;
}
.sec{
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 7.5vw;
  gap: 8vw;
}
.img{
  width: 35vw;
  height: auto;
}
.info{
  text-align: center;
  width: 40vw;
}
.info h1{
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.info p{
  font-size: 18px;
  color: #FFFFFF;
}
.info button{
  background: none;
  border: 1px solid #A5AC8C ;
  color: white;
  font-size: 18px;
  padding: 10px 3vw;
  transition: 0.5s;
  border-radius: 5px;
}
.info button:hover{
  border: 1px solid white;
  cursor:pointer;
}
@media screen and (max-width: 1200px){
  .container{
    margin-top: 60px;
  }
  .first{
    flex-direction: column;
  }
  .sec{
    flex-direction: column;
  }
  .img{
    width: 100%;
  }
  .info{
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .container{
    margin-top: 60px;
  }
}