.container{
  padding: 5%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  color: white;
  position: absolute;
  top: 100px;
  left: 0;
  width: 75vw;
  height: 100vw;
  z-index: 10;
}
.leftcontainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title{
  margin-left: 27%;
  font-size: 30px;
}
.largetext{
  font-size: 52px;
}
.smalltext{
  font-size: 22px;
  margin-bottom: 20px;
}
.btn{
  color: white;
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  height: 40px;
  width: 50%;
  transition: 0.5s;
}
.btn:hover{
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}
@media screen and (max-width: 1200px){
  .container{
    flex-direction: column;
    gap: 100px;
  }
  .leftcontainer{
    margin-top: 0px;
  }
  .largetext{
    font-size: 68px;
  }
  .btn{
    background-color: rgba(51, 51, 51, 0.7);
    font-size: 22px;
  }
  .title{
    font-size: 38px;
    margin-left: 30%;
    background-color: rgba(51, 51, 51, 0.45);
    border-top: 1px solid rgb(181, 181, 181);
    border-bottom: 1px solid rgb(181, 181, 181);
    padding: 5px 10px;
    display: inline;
  }
}
@media screen and (max-width: 768px){
  .container{
    gap: 50px;
  }
  .largetext{
    font-size: 34px;
  }
  .leftcontainer{
    gap: 20px;
  }
  .title{
    font-size: 24px;
    margin-left: 20%;
  }
}