.container{
  width: 100vh;
  height: 100vh;
  position: relative;
}
.black{
  background-color: rgba(0, 0, 0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
@media screen and (max-width: 768px){
  .container{
    width: 100%;
  }
}