.container{
  background-color: black;
  /* padding: 50px 0 0; */
}
.title{
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 20px 10vw;
  background-color: var(--yellow);
}
/* .hr{
  width: 7vw;
} */
.info{
  padding: 30px 0;
  text-align: center;
  color: white;
  font-size: 30px;
}
.imgcont{
  height: 500px;
  overflow: hidden;
}
.imgcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider{
  margin:0 2% 0 1%;
  padding-left:7%;
  width: 90vw;
  position: relative;
}
.slide{
  width: 80%;
  text-align: center;
  padding: 20px 10px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.img{
  width: 100vw;
  height: auto;
}
.position{
  position: relative;
}
.profiles{
  position: absolute;
  top: 11%;
}
.profileimg{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.review{
  color: black;
  margin: 20px 0;
}
.fullreview{
  color: #666666;
  margin: 10px 0;
}
.fullreview:hover{
  cursor: pointer;
}
.name{
  font-weight: 600;
}
.svgcontainer{
  position: absolute;
  top: 43%;
  margin-right: 13%;
}
.svg{
  height: 40px;
  width: 100%;
}
@media screen and (max-width: 1200px){
  .profiles{
    top: 10%;
    padding: 0 4%;
  }
  .slider{
    margin:0;
    padding-left:3%;
    margin-left: 5px;
  }
  .img{
    height: 480px;
  }
  .svgcontainer{
    margin-right: 14.5%;
  }
}
@media screen and (max-width: 768px){
  .profiles{
    flex-direction: column;
    position:unset;
    padding: 20px 1%;
    gap: 10px;
  }
  .card{
    width: 95%;
  }
  .slider{
    margin:0 0 0 8%;
    padding-left:3%;
    width: 80%;
  }
  .slide{
    width: 90%;
    margin-left: 5px;
  }
  .imgcont{
    height: 180px;
    overflow:visible;
  }
  .img{
    height: auto;
  }
  .svgcontainer{
    margin-right: 4%;
  }
}