.container{
  padding: 0 0 50px;
}
.top{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  color: black;
  font-size: 36px;
  letter-spacing: 3px;
  background-color: rgb(228, 234, 226);
  padding: 10px 0;
  width: 100vw;
}
.hr{
  width: 7vw;
}
.text{
  font-size: 21px;
  color: white;
  width: 30%;
  line-height: 44px;
}
.videos{
  padding: 0 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

@media screen and (max-width: 1200px){
  .text{
    width: 100%;
  }
  .video{
    width: 100%;
  }
  .videos{
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
}